#panel {
    height: 100%;
    background: orange;

    transition: 0.3s;
}

#panel.close {
    width: 40px;
}

#panel.open {
    width: 30%;
}

#panel > .panel_button {
    width: 40px;
    height: 40px;
    background: yellow;
    border: none;
}

#panel > #task_list > .task_item {
  white-space: nowrap;
}