#panel {
    height: 100%;
    background: orange;

    transition: 0.3s;
}

#panel.close {
    width: 40px;
}

#panel.open {
    width: 30%;
}

#panel > .panel_header {
  width: 100%;
  height: 40px;
  background: green;

  display: flex;  
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
}

#panel > .panel_header > .panel_display_button {
    min-width: 40px;
    height: 100%;
    background: yellow;
    border: none;
    
}

#panel > .panel_header > .panel_add_button {
    min-width: 40px;
    height: 100%;
    background: yellow;
    border: none;
    
}

#panel > .panel_header > .panel_add_button.display {
  display: inline-block;
}

#panel > .panel_header > .panel_add_button.hidden {
    display: none;
}

#panel > #task_list {
  padding: 0;
  margin: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}