#form_task {
  position: absolute;
  background: purple;
  width: 50%;
  height: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

#form_task.open {
  display: flex;
}

#form_task > .form_header {
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: flex-end;
}

#form_task > .form_header > .form_close_button {
  width: 40px;
  height: 100%;
}
