#panel > #task_list > .task_item {
  list-style: none;
  width: 100%;
  white-space: nowrap;
  background: pink;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#panel > #task_list > .task_item > span {
  display: block;
  height: 100%;
  width: 30px;

  text-align: center;
}

#panel > #task_list > .task_item > .task_title {
  width: 100%;
  height: 100%;
}